body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.BordaSuperior {

    background: blanchedalmond;
    padding-top: 1rem;
}

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-right: 60rem;

}

.cabecalho-imagem{

    height: 72px;
    padding-right: 5rem;
}

.cabecalho-menu{

    display: flex;
    gap: 200px;
}

.cabecalho-menu-item{

    font-family: cursive, sans-serif;
    color: rgb(116, 21, 21);
    font-size: 1.5rem;
}

.cabecalho-menu-item:hover{

    text-decoration: underline;
    color: rgb(151, 25, 25);
    cursor: pointer;
    box-sizing: border-box;

}

.main-login {

    width: 100vw;
    height: 100vh;
    background: rgb(116, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.Esquerda-login {

    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: bisque;
    font-style: italic;
    font-size: 3vw;
    letter-spacing: 0.1rem
}

.Direita-Login {

    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {

    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 50px;
    background: rgb(63, 11, 11);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgb(65, 31, 31);
}

.card-login>h1 {

    color: blanchedalmond;
    font-style: normal;
    margin: 0;

}

.textField {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textField>input {

    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background: rgb(104, 42, 42);
    color: antiquewhite;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textField>label {

    color: bisque;
    margin: 10px 0px;
    margin-top: 1rem;
}

.botao-login {

    margin: 25px;
    padding: 16px 0px;
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(63, 11, 11);
    background: bisque;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px bisque;
}

.botao-login:hover {

    background-color: rgb(221, 188, 145);
}

.textField>input::placeholder {

    color: rgb(156, 135, 135)
}

.left-login-image {

    width: 20vw;
    width: 450px;
    height: 450px;
    border: none;
}

.Esquerda-login>h1 {

    font-size: 2.5rem;
    margin-bottom: 0px;
}

.Direita-Login>h1 {

    font-size: 1rem;

}

@media only screen and (max-widht: 950px) {

    .main-login {
        flex-direction: column;
    }

    .left-login>h1 {

        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login>h1 {

        display: none;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {

        width: 50vw;

    }
}