html{

    background-color:  rgb(116, 21, 21);
    font-family: sans-serif;
    color:  rgb(116, 21, 21);      
}

#rodape{

    /* color: blanchedalmond; */
    padding-top: 1rem;
    padding-left: 0.5rem;
}


.rodape{

    color: blanchedalmond;
}

.espacamento{

    padding-left: 1rem;
    padding-right: 1rem;
}

.margem{

    padding-left: 0.5rem;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    
}

.BordaSuperior {

    background: blanchedalmond;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cabecalho{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-right: 60rem;

}

.Linha{

    border: 0;
	border-top: 2px solid rgb(116, 21, 21);
    
}

.cabecalho-imagem{

    height: 72px;
    padding-right: 5rem;
}

.cabecalho-menu{

    display: flex;
    gap: 230px;
}

.cabecalho-menu-item{

    font-family: cursive, sans-serif;
    color: rgb(116, 21, 21);
    font-size: 1.5rem;
    text-decoration: none;
}

.cabecalho-menu-item:hover{

    text-decoration: underline;
    color: rgb(151, 25, 25);
    cursor: pointer;
    box-sizing: border-box;

}


h1{
    color: rgb(116, 21, 21);
    font-family:cursive;
}
.texto-azul{
    color: rgb(116, 21, 21);
}

h2{
    text-decoration: underline;
    font-family:cursive;
    color: rgb(100, 37, 37);
}
a{
    color: rgb(116, 21, 21);
}
#Segundo-titulo{
    text-decoration: none;
}
#Terceiro-titulo{
    text-decoration: none;
}
.sobre{
    color: rgb(116, 21, 21);
    text-align: center;
    letter-spacing: 1rem;
}

.fonteParagrafo{
font-variant: all-petite-caps;
text-indent: 1rem;

}

#image{

    transform: scaleX(-1);
}

.identacao{
    text-indent: 0rem;
}

.import{
    font-style: italic;
    font-weight: bold;
}

#roda{

    padding-top: 0.5rem;
}

.Google{

    background-color: blanchedalmond;
    color: rgb(116, 21, 21);
}

.TituloGoogle{

    text-align: center;
    margin-top: 20%;
    letter-spacing: 0.5rem;
}

.Barra{

    text-align: center;
}

#DUKE{

    height: 20vh;
    width: 60vw;
    width: 20rem;
    height: 20rem;
    margin-right: 10rem;
    margin-bottom: 10px;
    transform: scaleX(-1);
}